<!-- +++++ Footer Section +++++ -->	
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>My Bunker</h4>
					<p>
						<a href="mailto:himadri@colourdrift.com">himadri@colourdrift.com</a><br/>
						<strong>Skype:</strong> colour_drift <br/>
						
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>My Links</h4>
					<p>
						<a href="http://www.colourdrift.com" target="_blank">My Website</a><br />
						<a href="http://github.com/himadriganguly" target="_blank">Github</a><br />
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>About ME</h4>
					<p>Hello, I'm Himadri, a self-taught Web Developer and Front-end Developer.<br/> Currently i am in love with Ruby and Ruby on Rails.</p>
				</div><!-- /col-lg-4 -->
			
			</div>
		
		</div>
	</div>