	<%= render(:partial=>"navbar") %>

	<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<%= image_tag("user.png", :alt=> "Stanley") %>
					<h1>About ME!</h1>
					<p>Hello everyone. I'm Himadri, the creator of this sample application using Ruby on Rails to implement some advance concept using Rails.</p>
						
					<p>I am a self-taught Web Developer and Front-end Developer.<br/>I also love other fields of Computer Science and have passion to learn new technology and apply them in work. Currently i am in love with Ruby and Ruby on Rails.</p>
										
					<p>I am always available for any freelance project, you can reach out to me at <a href="mailto:himadri@colourdrift.com">himadri@colourdrift.com</a>. I can also work from remote location and provide quality work within deadline.</p>				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	<%= render(:partial=>"footer")%>