<%= render(:partial=>"navbar") %>	
	
	<!-- +++++ Projects Section +++++ -->
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>Contributors</h3>
				<hr>
				<p>This section will display contributors to this project</p>
			</div>
		</div>
		
		<div class="row mt centered">
			<div class="col-lg-4">															
				<%= image_tag("/assets/avatar04.png", :alt=> "Himadri Ganguly", :class=> "img-responsive", :style=>"margin: auto; border: 2px solid #444444;") %>	
				<p style="margin-bottom: 5px;">Himadri Ganguly</p>	
				<p><strong>Github: </strong><a href="http://github.com/himadriganguly" target="_blank">http://github.com/himadriganguly</a></p>			
			</div>
		</div>
				
	</div><!-- /container -->	
	
	<%= render(:partial=>"footer")%>