	<%= render(:partial=>"navbar") %>	
		
	<!-- +++++ Contact Section +++++ -->
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>CONTACT ME</h3>
				<hr>
				<p>If you want to hire me for any project please contact me at the following address</p>
			</div>
		</div>
		<div class="row mt">	
			<div class="col-lg-8 col-lg-offset-2">
				<address style="text-align: center">
				  <strong>Full Name: </strong> Himadri Ganguly<br /><br />
				  <strong>Email: </strong> <a href="mailto:himadri@colourdrift.com">himadri@colourdrift.com</a><br /><br />
				  <strong>Skype: </strong> colour_drift<br /><br />
			  	  <strong>Github: </strong> <a href="http://github.com/himadriganguly" target="_blank">http://github.com/himadriganguly</a>
				</address>	
			</div>
		</div><!-- /row -->
	</div><!-- /container -->

	<%= render(:partial=>"footer")%>
