    <%= render(:partial=>"navbar") %>
    
    <!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">									
					<h1>User Dashboard Application<br/>Using Rails</h1>					
					<p>This is a sample <strong>User Dashboard Application</strong> using Rails. In this project many of the popular gems is used such as <a href="https://github.com/plataformatec/devise" target="_blank">Devise</a>, <a href="https://github.com/thoughtbot/paperclip" target="_blank">Paperclip</a>.<br/>To checkout the dashboard please click on the Login link to enter.</p>					
					<p>If you like the application and want to contribute please checkout the project at <strong>Github</strong> - <a href="http://github.com/himadriganguly" target="_blank">http://github.com/himadriganguly</a></p>
					<p>The project can be successful if more people contribute to apply advance concepts using Ruby on Rails. Please checkout the Future Version in the Features page before contributing. Or if have any idea you want to implement or think that there is a better way to implement any part of the code please create a pull request and I will do my best to merge appropriately and include your name in the contributor.</p>			
					<h3>Credits:</h3>
					<p>
						<a href="http://www.blacktie.co/2014/01/stanley-freelancer-theme/" target="_blank">Stanley – Freelancer Theme</a><br/>
						This is an excellent theme using Twitter Bootstrap which we have used for the frontend of the application.
						</p>
					<p>
						<a href="https://github.com/almasaeed2010/AdminLTE" target="_blank">AdminLTE</a><br/>
 						This is a Free Premium Admin control Panel Theme That Is Based On Bootstrap 3.x which we have used as the User Dashboard.						
					</p>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
	<%= render(:partial=>"footer")%>